<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
  </head>
  <body>
    {{#if errors}}
      <div>
        <div class="errorContainer">

          {{#each errors}}
            <p>{{this}}</p>
          {{/each}}
        </div>
      </div>
    {{/if}}

    <div class="navigation">
      <nav>
        <img src="/static/images/logo.jpg" />
        <ul>
          <!-- Guest users and Logged users -->
          <li><a href="/">Home</a></li>
          <li><a href="/catalog">Blogs</a></li>
          <!--For loggin users-->
          {{#if username}}
            <li><a href="/profile">Profile</a></li>
            <li><a href="/catalog/create">Create Blog</a></li>
            <li><a href="/auth/logout">Logout</a></li>

            <!--For guest users-->
          {{else}}

            <li><a href="/auth/login">Login</a></li>
            <li><a href="/auth/register">Register</a></li>
          {{/if}}

        </ul>
      </nav>
    </div>

    <main>

      {{{body}}}
    </main>
    <footer>
      Back-End 2022
    </footer>
  </body>
</html>