<section id="all-blogs-page">
  <article class="all-blogs-title">
    <h1>All Blogs</h1>
  </article>

  <!--If there are blogs in the database, show each one-->

        {{#if items}}
        {{#each items}}
        {{>catalogItem}}
        {{/each}}

  <!--If there are still no blogs in the database display:-->
        {{else}}
          <article class="not-available-blogs">
              <h1>No blogs created yet.</h1>
          </article>
        {{/if}}

</section>

{{!-- <section class="crypto-market">
  <h1><span>Crypto</span> Trade</h1>

        {{#if items}}
        <div class="offer-list">
        {{#each items}}
        {{>item}}
        {{/each}}


        </div>
        {{else}}
        <div class="no-offer">
            <p>There are no crypto offers found!</p>
        </div>
        {{/if}}
</section> --}}